@keyframes loadFromTop {
  from {
    transform: translateY(-150%);
  }
  50% {
    filter: blur(10px);
  }
  to {
    transform: translateY(0%);
    filter: blur(0);
  }
}
@keyframes loadFromLeft {
  from {
    transform: translateX(-100%);
  }
  50% {
    filter: blur(10px);
  }
  to {
    transform: translateX(0%);
    filter: blur(0);
  }
}
@keyframes linearTopToBottom {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
@keyframes pulse {
  0%, 50%, 100% {
    border: 5px solid #d72c6e;
  }
  25%, 75% {
    border: 8px solid #00f5d4;
  }
}
@keyframes bounce {
  0%, 60%, 100% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(-10px);
  }
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

html {
  font-size: 80.5%;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  animation: loadFromLeft 1.1s;
  transform: translateX(0%);
  filter: blur(0);
}

header {
  width: 100%;
  height: 10vh;
  background-color: #d72c6e;
  position: fixed;
  top: 0;
  z-index: 10;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header ul li:hover {
  animation: bounce 0.8s;
}
header ul li a {
  color: white;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.6s;
}
header ul li a:hover {
  color: black;
}
header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 2%;
}
header nav i {
  margin-right: 10px;
}
header nav div.desktop-nav {
  display: none;
}
header nav button.mobile-toggle {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header nav button.mobile-toggle .bar1, header nav button.mobile-toggle .bar2, header nav button.mobile-toggle .bar3 {
  width: 100%;
  height: 5px;
  border-radius: 15px;
  background-color: white;
  transition: 1s;
}
header nav button.mobile-toggle.open .bar1 {
  transform: rotate(45deg);
  translate: 2px 13px;
}
header nav button.mobile-toggle.open .bar2 {
  opacity: 0;
}
header nav button.mobile-toggle.open .bar3 {
  transform: rotate(-45deg);
  translate: 2px -14px;
}

div.mobile-menu {
  display: none;
  width: 100%;
  height: 90vh;
  top: 10vh;
  background-color: #ed78a5;
  transform: translateY(-150%);
}
div.mobile-menu ul {
  transform: translateY(-150%);
  filter: blur(15px);
  transition: 1s;
}
div.mobile-menu.open {
  display: flex;
  position: fixed;
  z-index: 1;
  animation: loadFromTop 1s ease-in;
  transform: translateY(0%);
}
div.mobile-menu.open ul {
  width: 100%;
  padding: 5%;
  justify-content: start;
  flex-direction: column !important;
  animation: loadFromTop 1.4s ease-in;
  transform: translateY(0%);
  filter: blur(0px);
}
div.mobile-menu.open ul li {
  height: 50px;
  border-bottom: black 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.mobile-menu.open ul li a {
  cursor: pointer;
  color: white;
  font-size: 2rem;
  transition: 0.6s;
  text-align: center;
}
div.mobile-menu.open ul li a:hover {
  color: black;
}
div.mobile-menu.open ul li a i {
  margin-right: 10px;
}

main section {
  padding-top: 10vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}
main section:nth-last-child(1) {
  margin-bottom: 0% !important;
}

.advice {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advice p {
  font-size: 2rem;
  width: 90%;
  text-align: center;
}

.cards {
  width: 100%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px 25px;
}
.cards .card {
  border-radius: 15px;
  background-color: white;
  color: black;
  width: 300px;
  max-width: 80%;
  min-height: -moz-max-content;
  min-height: max-content;
  cursor: pointer;
  transition: 0.8s;
}
.cards .card:hover {
  transform: scale(1.2) rotate(5deg);
}
.cards .card .card-header {
  padding: 10px;
}
.cards .card .card-header h2 {
  background-image: linear-gradient(90deg, #9b5de5, #f15bb5, #fee440, #00bbf9, #00f5d4, #073b4c, #9b5de5, #f15bb5, #fee440);
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: 800;
  background-position: bottom;
  color: transparent;
  animation: linearTopToBottom 5s infinite alternate;
}
.cards .card .card-body {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.cards .card .card-body img {
  width: 100%;
  height: 100%;
}
.cards .card .card-footer {
  padding: 10px;
}
.cards .card .card-footer h2 {
  font-size: 1.7rem;
  background-image: linear-gradient(90deg, #9b5de5, #f15bb5, #fee440, #00bbf9, #00f5d4, #073b4c, #9b5de5, #f15bb5, #fee440);
  background-size: 200%;
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: 800;
  background-position: bottom;
  color: transparent;
  animation: linearTopToBottom 5s infinite alternate-reverse;
}
.cards .card .card-footer .tech i {
  font-size: 26px;
}
.cards .card.Personagem {
  transition: 2s;
}
.cards .card.Personagem:hover {
  transform: scale(0.8) rotate(360deg);
}
.cards .card.Personagem .card-header h2 {
  font-size: 1.6rem !important;
}
.cards .card.Personagem .card-footer {
  display: flex;
  gap: 5px;
}

#atores-section h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}
#atores-section .people {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
#atores-section .people .actor {
  width: 200px;
  height: 200px;
  border: 5px solid #d72c6e;
  border-radius: 50%;
  transition: 0.4s;
  cursor: pointer;
}
#atores-section .people .actor img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#atores-section .people .actor:hover {
  animation: pulse 2s infinite;
}

form {
  margin: 0 auto;
  width: 90%;
  background-color: #073b4c;
  border-radius: 20px;
  height: 80vh;
  padding: 3% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
form label {
  color: #ed78a5;
}
form input {
  width: 100%;
  background-color: transparent;
  border: none;
  min-height: 30px;
  padding-left: 10px;
  border-bottom: 2px solid #ed78a5;
  transition: 0.4s;
  margin-bottom: 10px;
  color: white;
}
form input::-moz-placeholder {
  color: white;
}
form input::placeholder {
  color: white;
}
form input:focus {
  outline: none;
  border-bottom: 2px solid #d72c6e;
}
form textarea {
  margin-top: 10px;
  width: 100%;
  background-color: transparent;
  border: 2px solid #ed78a5;
  transition: 0.4s;
  padding: 10px;
  color: white;
}
form textarea::-moz-placeholder {
  color: white;
}
form textarea::placeholder {
  color: white;
}
form textarea:focus {
  outline: none;
  border: 2px solid #d72c6e;
}
form label {
  text-align: start;
}
form div {
  width: 100%;
}
form .inline-form div {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
form button {
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  background-color: #d72c6e;
  border: none;
}

@media (min-width: 925px) {
  div.desktop-nav {
    display: flex !important;
  }
  button.mobile-toggle {
    display: none !important;
  }
  .mobile-menu {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .inline-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}/*# sourceMappingURL=style.css.map */