@keyframes loadFromTop {
    from{
        transform: translateY(-150%);
    }
    50%{
        filter: blur(10px);
    }
    to{
        transform: translateY(0%);
        filter: blur(0);
    }
}
@keyframes loadFromLeft {
    from{
        transform: translateX(-100%);
        
    }
    50%{
        filter: blur(10px);
    }
    to{
        transform: translateX(0%);
        filter: blur(0);
    }
}
@keyframes linearTopToBottom {
    from{
        background-position: left;
    }to{
        background-position: right;
    }
}
@mixin DisplayContent($align, $just){
    display: flex;
    align-items: $align;
    justify-content: $just;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 3rem;
}
body{
    background-color: black;
    color: white;
}
html{
    font-size: 80.50%;
}
$navHeight: 10vh;

.hidden{
    opacity: 0;
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    animation: loadFromLeft 1.1s;
    transform: translateX(0%);
    filter: blur(0);
}

header{
    width: 100%;
    height: $navHeight;
    background-color: #d72c6e;
    position: fixed;
    top: 0;
    z-index: 10;
    ul{
        @include DisplayContent(center, center);
        gap: 20px;
        a{
            color: white;
            cursor: pointer;
            font-size: 2rem;
            transition: 0.6s;
            &:hover{
                color: black;
            }
        }
    }
    nav{
        height: 100%;
        @include DisplayContent(center, space-between);
        padding: 0% 2%;
        i{
            margin-right: 10px;
        }
        div.desktop-nav{
            display: none;
        }

        button.mobile-toggle{
            background-color: transparent;
            border: none;
            width: 50px;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .bar1,.bar2,.bar3{
                width: 100%;
                height: 5px;
                border-radius: 15px;
                background-color: white;
                transition: 1s;
            }
            &.open{
                .bar1{
                    transform: rotate(45deg);
                    translate: 2px 15px;
                }
                .bar2{
                    opacity: 0;
                }
                .bar3{
                    transform: rotate(-45deg);
                    translate: 2px -15px;
                }
            }
        }
    }
}
div.mobile-menu{
    display: none;
    width: 100%;
    height: 100vh - $navHeight;
    top: $navHeight;
    background-color: #ed78a5;
    transform: translateY(-150%);
    ul{
        transform: translateY(-150%);
        filter: blur(15px);
        transition: 1s;
    }
    &.open{
        display: flex;
        position: fixed;
        z-index: 1;
        animation: loadFromTop 1s ease-in;
        transform: translateY(0%);
        ul{
            width: 100%;
            padding: 5%;
            justify-content: start;
            flex-direction: column !important;
            animation: loadFromTop 1.4s ease-in;
            transform: translateY(0%);
            filter: blur(0px);
            li{
                height: 50px;
                border-bottom: black 2px solid;
                @include DisplayContent(center, center);
                a{
                    cursor: pointer;
                    color: white;
                    font-size: 2rem;
                    transition: 0.6s;
                    text-align: center;
                    &:hover{
                        color: black;
                    }
                    i{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
main{
    section{
        padding-top: $navHeight;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 1%;
    }
    section:nth-last-child(1){
        margin-bottom: 0% !important;
    }
    
}

.cards{
    width: 100%;
    padding: 5%;
    @include DisplayContent(center, center);
    flex-wrap: wrap;
    gap: 25px 25px;
    .card{
        border-radius: 15px;
        background-color: white;
        color: black;
        width: 300px;
        max-width: 80%;
        height: 400px;
        cursor: pointer;
        transition: 0.8s;
        &:hover{
            transform: scale(1.2) rotate(5deg) ;
        }
        .card-header{
            padding: 10px;
            h2{
                background-image: linear-gradient(90deg, #9b5de5, #f15bb5, #fee440, #00bbf9, #00f5d4, #073b4c,  #9b5de5, #f15bb5, #fee440);
                background-size: 200%;
                background-clip: text;
                font-weight: 800;
                background-position: bottom;
                color: transparent;
                animation: linearTopToBottom 5s infinite alternate;
            }
        }
        .card-body{
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            object-fit: cover;
            object-position: bottom;
            img{
                width: 100%;
                height: 100%;

            }
        }
        .card-footer{
            padding: 10px;
            h2{
                font-size: 1.7rem;
                background-image: linear-gradient(90deg, #9b5de5, #f15bb5, #fee440, #00bbf9, #00f5d4, #073b4c,  #9b5de5, #f15bb5, #fee440);
                background-size: 200%;
                background-clip: text;
                font-weight: 800;
                background-position: bottom;
                color: transparent;
                animation: linearTopToBottom 5s infinite alternate-reverse;
            }
            .tech{
                i{
                    font-size: 26px;
                }
            }
        }
        &.Personagem{
            .card-header{
                h2{
                    font-size: 1.6rem !important;
                }
            }
            
        }
    }
}
@media (min-width:925px) {
    div.desktop-nav{
        display: flex !important;
    }
    button.mobile-toggle{
        display: none !important;
    }
    .mobile-menu{
        display: none !important;
    }
}

